<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
    Error404:OOPS the page could not found </br>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>