<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>This is an about page.
    </p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>